/* Order Form Design */
#order:before {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: -1;
	display: block;
	background-image: url('/images/bg7.jpeg');
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 100%;

	-webkit-filter: blur(3px);
	-moz-filter: blur(3px);
	-o-filter: blur(3px);
	-ms-filter: blur(3px);
	filter: blur(3px);
}

#order {
    background: #ffb6c1;
	background-color: rgba(0, 0, 0, 0.3);
	min-height: 100vh;
    text-align: center;
    padding: 80px 30px 100px;;
}

#order h1 {
    color: #fff;
    margin: 50px auto 20px;
    text-align: center;
    font-size: 30px;
}

#order > div {
    border: 5px solid #fff;
    border-radius: 10px;
    padding: 10px;
    max-width: 950px;
    margin: 0px auto 0px;
    text-align: center;
    background: #fff;
    opacity: 0.8;
}

#order form {
    border: 1px solid #fff;
    margin: 0px auto 0px;
    padding: 50px 20px 50px;
}

#order input, 
#order select {
	padding: 10px;
	font-size: 18px;
    color: #3a0016;
    background: transparent;
    border-bottom: 1px solid #666;
    border-top: none; 
    border-right: none; 
    border-left: none;
	outline-style: none;
	text-align: center;
	margin: 20px 10px 50px;
    display: inline-block;
}

#order select option { 
    color: #000; 
}

::placeholder {
    color: #666;
}

.datepicker {
    margin: 30px 0px 0px;
}

.datepicker h2 {
    color: #3a0016;
    font-size: 20px;
}

/* Back to Cart Link & Order Button */
#order a {
	font-size: 20px;
	color: #ffdfeb;
}

#order > a div,
#order div form > button {
    width: 140px;
	display: block;
	margin: 15px 0px 0px;
	padding: 10px;
	border-top: 1px solid #ffdfeb;
	border-bottom: 1px solid #ffdfeb;
	border-right: none;
	border-left: none;
	z-index: 1;
	background: transparent;
	transition: all 0.3s ease;
  	position: relative;
}

#order > a div:hover {
	color: #8d0057;
}

#order > a div:hover:after,
#order div form > button:hover:after {
	top: 0;
	height: 100%;
}

#order > a div:after,
#order div form > button:after {
	position: absolute;
	content: "";
	width: 100%;
	height: 0;
	bottom: 0;
	left: 0;
    z-index: -1;
	background: #ffdfeb;
	transition: all 0.3s ease;
}

#order div form > button {
    color: #3a0016;
    border-top: 2px solid #a70c48;
    border-bottom: 2px solid #a70c48;
	font-size: 20px;
	display: block;
    margin: 50px auto 0px;
    width: 200px;
    border-radius: 0;
}

#order div form > button:after {
    background: #a70c48;   
}

#order div form > button:hover {
    color: #fff;
}

/* Account Details Footer */
#accountDetails {
    text-align: center;
    min-height: 70px;
    background-color: #f5f38e;
    padding: 10px;
    color: #ff8800;
    font-size: 18px;
}

/* Responsive Order Form */
@media(max-width: 900px) {
    #order input, 
    #order select {
        display: block;
        margin: 0px auto 30px;
    }

    #order select {
        width: 240px;
        text-align: center;
    }
}

@media(max-width: 450px) {
    #order {
        padding: 80px 10px 30px;
    }

    #order form {
        padding: 50px 0px 50px;
    }
}